<div
  [ngClass]="{
    col: orientation == 'vertical',
    row: orientation == 'horizontal',
  }"
>
  <div class="custom-control custom-checkbox mr-4">
    <input
      id="{{ 'taxi-checkbox-' + id }}"
      class="custom-control-input"
      type="checkbox"
      [checked]="vehiculeFilters.includes('taxi')"
      [disabled]="isDisabled"
      (change)="onVehiculeDropdownChanged($event, 'taxi')"
    />
    <label for="{{ 'taxi-checkbox-' + id }}" class="custom-control-label">
      <i class="fas fa-taxi pl-3 text-primary"> </i>
      <span class="display-2 pl-1 text-primary"> Taxi </span>
    </label>
  </div>
  <div class="custom-control custom-checkbox">
    <input
      id="{{ 'bus-checkbox-' + id }}"
      class="custom-control-input"
      type="checkbox"
      [checked]="vehiculeFilters.includes('bus')"
      [disabled]="isDisabled"
      (change)="onVehiculeDropdownChanged($event, 'bus')"
    />

    <label for="{{ 'bus-checkbox-' + id }}" class="custom-control-label">
      <i class="fas fa-bus pl-3 text-primary"> </i>
      <span class="display-2 pl-1 text-primary"> Bus </span>
    </label>
  </div>
</div>
