<div class="main-content">
  <div class="header bg-gradient-default py-7 py-lg-8 pt-lg-9">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">Bienvenue</h1>

            <p class="text-lead text-white">
              Pour accéder à votre compte, veuillez entrer votre email et mot de
              passe pour vous authentifier.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small> Connexion avec identifiants ISLA Immobilière </small>
            </div>

            <form [formGroup]="formBuilderGroup" (ngSubmit)="loginUser()">
              <div
                class="form-group"
                [ngClass]="{
                  'has-danger': submitted && f.email.errors?.required,
                }"
              >
                <div class="input-group">
                  <input
                    asp-for="Password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.email.errors?.required,
                      'is-valid': submitted && !f.email.errors?.required,
                    }"
                    placeholder="Entrer votre email"
                    formControlName="email"
                    type="email"
                  />
                  <div class="invalid-feedback">
                    Champs manquant, password est obligatoire.
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input
                    [ngClass]="{
                      'is-invalid': submitted && f.password.errors?.required,
                      'is-valid': submitted && !f.password.errors?.required,
                    }"
                    class="form-control"
                    formControlName="password"
                    placeholder="Entrer votre mot de passe"
                    type="password"
                  />
                  <div class="invalid-feedback">
                    Champs manquant, password est obligatoire.
                  </div>
                </div>
              </div>
              <div class="">
                <h5 class="mb-0 text-danger">{{ errorMessage }}</h5>
              </div>
              <div class="text-center">
                <button
                  *ngIf="!isLoading"
                  type="submit"
                  class="btn btn-default my-4"
                >
                  Se connecter
                </button>
                <div
                  *ngIf="isLoading"
                  class="spinner-border text-primary my-4"
                  role="status"
                ></div>
              </div>
            </form>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <a class="text-light" href="javascript:void(0)">
              <small> Forgot password? </small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
