<div
  class="input-slider-container"
  style="overflow: hidden !important; padding: 4px"
>
  <div class="d-flex w-100 justify-content-between">
    <span
      class="range-slider-value bg-gray"
      id="input-slider-min-value"
    >
    </span>
    <span
      class="range-slider-value bg-primary"
      id="input-slider-max-value"
    >
    </span>
  </div>
  <div
    class="input-slider"
    data-range-value-max="500"
    data-range-value-min="0"
    id="input-slider"
  ></div>
  <span
      class="range-slider-value bg-primary"
      id="input-slider-current-value"
    >
    </span>
</div>
