<div class="modal-header">
  <div class="d-flex flex-column w-100 justify-content-start">
    <h3 class="mb-0">{{ title }}</h3>
    <div [ngClass]="{ 'mt-4': title !== '' }" class="">
      <div class="flex-fill">
        <div class="form-group">
          <div
            class="input-group input-group-merge"
            [ngClass]="{ focused: focus === true }"
          >
            <div *ngIf="prefixIcon" class="input-group-prepend">
              <span class="input-group-text">
                <i class="{{ prefixIcon }}"> </i>
              </span>
            </div>

            <input
              (focus)="focus = true"
              (blur)="focus = false"
              value="{{ searchInputValue }}"
              placeholder="{{ searchPlaceholder }}"
              (keyup)="debounceValueChange($event)"
              class="form-control"
              placeholder="Phone number"
              type="text"
            />

            <div
              *ngIf="suffixIcon"
              class="input-group-append"
              [ngClass]="{ focused: focus === true }"
            >
              <span class="input-group-text">
                <i class="{{ suffixIcon }}"> </i>
              </span>
            </div>
          </div>

          <div class="row my-3">
            <div *ngIf="!isLoadingFetchingTenants" class="col-lg-12">
              <small *ngIf="totalLength > 0" class="mb-0">
                Nombre de locataires trouvés : {{ totalLength }}
              </small>
              <small *ngIf="totalLength == 0" class="ml-4 mb-0">
                Liste vide, aucun element trouvé
              </small>
            </div>

            <div
              *ngIf="isLoadingFetchingTenants"
              class="spinner-border text-primary mt-4 ml-4"
              role="status"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  style="padding: 0px !important; height: 50vh; overflow-y: auto !important"
  class="modal-body"
>
  <div class="px-4">
    <ul
      class="list-group list-group-flush list my--3"
      style="overflow-y: auto !important"
    >
      <li
        style="cursor: pointer"
        *ngFor="let tenant of tenants"
        class="list-group-item list-group-item-action px-0"
      >
        <div
          class="row"
          style="
            display: flex !important;
            align-items: stretch !important;
            gap: 1rem !important;
          "
        >
          <div (click)="moveToDetails(tenant.id)" class="col">
            <small> Identifiant: </small>

            <h5 class="mb-0 mt-2">{{ tenant.matricule }}</h5>
          </div>
          <div (click)="moveToDetails(tenant.id)" class="col">
            <small> Prénom et nom: </small>

            <h5 class="mb-0 mt-2">{{ tenant.fullname }}</h5>
          </div>

          <div (click)="moveToDetails(tenant.id)" class="col">
            <small> Téléphone: </small>

            <h5 class="mb-0 mt-2">{{ tenant.phoneNumber }}</h5>
          </div>
          <div (click)="moveToDetails(tenant.id)" class="col">
            <small> CIN </small>

            <h5 class="mb-0 mt-2">
              {{ tenant.cin }}
            </h5>
          </div>
          <div (click)="moveToDetails(tenant.id)" class="col">
            <small> Status </small>

            <div class="mt-2">
              <span *ngIf="tenant.status == 'NO_AGREEMENT'">
                <h5 class="mb-0 mt-2">Pas de contrat</h5>
              </span>

              <span *ngIf="tenant.status == 'NO_PAYMENT'">
                <h5 class="mb-0 mt-2">Aucun paiement</h5>
              </span>

              <span *ngIf="tenant.status == 'AGREEMENT_EXPIRED'">
                <h5 class="mb-0 mt-2">Contrat expiré</h5>
              </span>

              <span *ngIf="tenant.status == 'TERMINATED'">
                <h5 class="mb-0 mt-2">Contrat suspendu</h5>
              </span>
              <span *ngIf="tenant.status == 'PAYMENT_DEFAULT'">
                <h5 class="mb-0 mt-2">Retard de paiement</h5>
              </span>

              <span *ngIf="tenant.status == 'IN_GOOD_STANDING'">
                <h5 class="mb-0 mt-2">En régle</h5>
              </span>
            </div>
          </div>

          <div (click)="moveToDetails(tenant.id)" class="col">
            <small> Contrat: </small>

            <h5 class="mb-0 mt-2">{{ tenant.agreement }}</h5>
          </div>

          <div (click)="moveToDetails(tenant.id)" class="col">
            <small> Local: </small>

            <h5 class="mb-0 mt-2">{{ tenant.apartment }}</h5>
          </div>

          <div (click)="moveToDetails(tenant.id)" class="col">
            <small> Crée le: </small>

            <h5 class="mb-0 mt-2">
              {{ tenant.createdAt | date: "dd/MM/yyyy" }}
            </h5>
          </div>

          <div class="col-md-2 d-flex flex-column">
            <div class="flex-grow-1 h-100">
              <a
                *ngIf="
                  tenant.agreement &&
                  (tenant.status == 'IN_GOOD_STANDING' ||
                    tenant.status == 'PAYMENT_DEFAULT')
                "
                href="dashboard/payment/create-payment/{{ tenant.id }}"
                class="nav-link h-100 d-flex align-items-center"
                target="_blank"
              >
                <div class="d-flex gap-2">
                  <i class="ni ni-money-coins"></i>
                  <small class="ml-2">Ajouter loyer</small>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="modal-footer d-flex justify-content-between">
  <div class="d-flex w-100 flex-wrap align-content-stretch justify-content-end">
    <button class="btn btn-secondary" (click)="onCancel()">Annuler</button>
  </div>
</div>
