.main-content {
  position: relative;

  // Navbar
  .navbar-top {
    @include media-breakpoint-down(lg) {
      padding-left: 32px !important;
    }
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  // Container
  .container-fluid {
    @include media-breakpoint-up(lg) {
      padding-left: calc(
        $main-content-padding-x + $grid-gutter-width / 2
      ) + 32 !important;
      padding-right: calc(
        $main-content-padding-x + $grid-gutter-width / 2
      ) - 32 !important;
    }
    @include media-breakpoint-up(md) {
      padding-left: calc(
        $main-content-padding-x + $grid-gutter-width / 2
      ) !important;
      padding-right: calc(
        $main-content-padding-x + $grid-gutter-width / 2
      ) - 15 !important;
    }
  }
}


