<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Détails propriétaire</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">
              Nom Propriétaire
            </h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ ownerDetails?.fullname }}
            </h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">Matricule</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ ownerDetails?.matricule }}
            </h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">Téléphone</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ ownerDetails?.phoneNumber }}
            </h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">Type</h5>

            <h5 class="h5 font-weight-bold mb-0 mt-1">
              {{
                ownerDetails?.type == "natural" ? "P. Physique" : "P. Morale"
              }}
            </h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">Email</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ ownerDetails?.email }}
            </h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">CIN</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ ownerDetails?.cin }}
            </h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">RIB</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ ownerDetails?.rib }}
            </h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">Ajouté le</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ ownerDetails?.createdAt | date }}
            </h5>
          </div>
        </div>
      </div>
      <h6 class="heading-small text-muted my-4">Liste des biens</h6>

      <div class="row mb-4">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th scope="col">Identifiant</th>
              <th scope="col">Adresse</th>
              <th scope="col">Nb Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">P1B2</th>
              <td>
                <h4>25 Rue bassatine tunis, tunisie</h4>
              </td>
              <td>
                <h4>2</h4>
              </td>
            </tr>
            <tr>
              <th scope="row">P1B3</th>
              <td>
                <h4>10 Rue zayatine manouba, tunisie</h4>
              </td>
              <td>
                <h4>1</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h6 class="heading-small text-muted my-4">Liste des locaux</h6>

      <div class="row mb-4">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th scope="col">Identifiant</th>
              <th scope="col">Adresse</th>
              <th scope="col">Bien</th>
              <th scope="col">Piece</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">P1B2L2</th>
              <td>
                <h4>25 Rue bassatine tunis, tunisie</h4>
              </td>
              <td>
                <h4>P1B2</h4>
              </td>
              <td>
                <h4>3 pieces</h4>
              </td>
            </tr>
            <tr>
              <th scope="row">P1B2L2</th>
              <td>
                <h4>25 Rue bassatine tunis, tunisie</h4>
              </td>
              <td>
                <h4>P1B2</h4>
              </td>
              <td>
                <h4>3 pieces</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-upsert-owner [ownerDetails]="ownerDetails"></app-upsert-owner>

<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Ajouter des biens</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="setPropertyToOwner()">
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-group">
            <label class="form-control-label"> Chercher un bien </label>

            <div class="row">
              <div class="col-md-12">
                <app-search-input
                  [clearInput]="false"
                  [prefixIcon]="'fas fa-search'"
                  [searchPlaceholder]="'Chercher un Bien'"
                  [searchLabel]="'Résultats'"
                  [maxSize]="5"
                  [isInvalid]="
                    submitted &&
                    editPropertyForm['propertyId'].errors?.['required']
                  "
                  [errorMessage]="'Champs incorrect, Bien est obligatoire'"
                  [triggerSearchOnOpen]="true"
                  (searchValue)="onSearchApartmentValueChanged($event)"
                  [searchInputValue]="searchPropertyValue"
                  (selectedResultItem)="onSelectedPropertySearchItem($event)"
                  [searchResult]="propertyOptions"
                ></app-search-input>
              </div>
            </div>
            <div class="mt-3 d-flex w-100 flex-row justify-content-end">
              <button *ngIf="!isLoading" class="btn btn-primary" type="submit">
                Confirmer
              </button>
              <div
                *ngIf="isLoading"
                class="spinner-border text-primary mr-5"
                role="status"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Relevé de compte du Propriètaire</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row mb-5 mt-3">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">
            Periode de relevé de compte
          </label>

          <input
            formControlName="absenceRangeDate"
            placeholder="Periode de relevé de compte"
            type="text"
            class="form-control"
            bsDaterangepicker
            [minDate]="minDate"
            [bsConfig]="bsConfig"
          />
          <div class="mt-3 d-flex w-100 flex-row justify-content-end">
            <button class="btn btn-primary" type="submit">Confirmer</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <div class="my-3 pr-2 d-flex w-100 flex-row justify-content-end">
        <button class="btn btn-icon btn-secondary" type="button">
          <span class="btn-inner--icon">
            <i class="ni ni-cloud-download-95"> </i>
          </span>

          <span class="btn-inner--text"> Exporter </span>
        </button>
      </div>
      <table class="table align-items-center table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">DATE</th>
            <th scope="col">COMPTES</th>
            <th class="text-center" scope="col">LIBELLES</th>
            <th scope="col">DEBIT</th>
            <th scope="col">CREDIT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of financialBalance?.payments">
            <th scope="row">{{ payment.createdAt | date: "dd/MM/yyyy" }}</th>
            <td>
              <h4>{{ payment.agreement }}</h4>
            </td>
            <td>
              <div class="row">
                <div class="col-6">
                  <h4>{{ payment.tenant }}</h4>
                </div>
                <div class="col-6">
                  <h4>{{ payment.category }}</h4>
                </div>
              </div>
            </td>
            <td>
              <h4 *ngIf="payment.type == 'expense'">
                <i class="fas fa-arrow-down text-warning mr-3"> </i>
                {{ payment.amount }} DT
              </h4>
            </td>
            <td>
              <h4 *ngIf="payment.type == 'income'">
                <i class="fas fa-arrow-up text-success mr-3"> </i>
                {{ payment.amount }} DT
              </h4>
            </td>
          </tr>

          <tr>
            <td colspan="3">
              <div class="d-flex justify-content-end">
                <h4>TOTAL:</h4>
              </div>
            </td>
            <td>
              <h4 class="text-warning">
                <i class="fas fa-arrow-down text-warning mr-3"> </i
                >{{ financialBalance?.totalExpense }} DT
              </h4>
            </td>
            <td>
              <h4 class="text-success">
                <i class="fas fa-arrow-up text-success mr-3"> </i>
                {{ financialBalance?.totalIncome }} DT
              </h4>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="d-flex justify-content-end">
                <h4>Solde créditeur:</h4>
              </div>
            </td>
            <td colspan="2">
              <h4>{{ financialBalance?.netBalance }} DT</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
