<div class=" modal-header ">
    <div class="d-flex flex-column w-100 justify-content-start">
        <h3 class=" mb-0">{{title}}</h3>
        <!-- <div [ngClass]="{ 'mt-4' : title !== '' }" class="">
            <app-search-input [disabled]="!editable" [prefixIcon]="'fas fa-search'" [itemIcon]="'ni ni-pin-3'"
                [suffixIcon]="'ni ni-pin-3'" [searchPlaceholder]="initialValue"
                (searchValue)="onSearchValueChanged($event)" (selectedResultItem)="onSelectedSearchItem($event)"
                [searchResult]="placesAutocompleResult"></app-search-input>
        </div> -->
    </div>
</div>

<div style="padding: 0px !important;" class=" modal-body">

    <!-- <google-map height="640px" width="100%">

        <map-marker *ngFor="let marker of markers" [position]="marker.position">
            
        </map-marker>

    </google-map> -->
</div>

<div class=" modal-footer d-flex justify-content-between">

    <div class="d-flex flex-column gap-0 justify-content-start">
        <h5 *ngIf="selectedAdress " class="pt-2">
            Coordonnées: <span class=" font-weight-light">
                {{selectedCoordinate?.lat?.toFixed(3) ?? ""}},{{selectedCoordinate?.lng?.toFixed(3) ?? ""}} </span>
        </h5>
        <h5 *ngIf="selectedAdress" class="">
            Adresse: <span class=" font-weight-light">
                {{selectedAdress}} </span>
        </h5>
    </div>

    <div *ngIf="showConfirmButton" class="d-flex flex-wrap align-content-stretch justify-content-end ">
        <button class=" btn btn-primary" (click)="onConfirm()">
            Confirmer
        </button>

        <button class=" btn btn-secondary" (click)="onCancel()">
            Annuler
        </button>
    </div>
</div>