<div class="card">
  <div class="card-header border-0">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-0">Liste des locataires ({{ totalLength }})</h3>
      </div>
    </div>
  </div>

  <div class="px-4 pt-2 pb-4">
    <div class="row justify-content-end px-3">
      <a
        class="btn btn-sm btn-primary btn-round btn-icon"
        href="javascript:void(0)"
        routerLink="../create-tenant"
      >
        <span class="btn-inner--icon">
          <i class="ni ni-fat-add"> </i>
        </span>
        <span class="btn-inner--text"> Ajouter un locataire </span>
      </a>
    </div>

    <div class="row justify-content-end my-4">
      <div *ngIf="showClearFilterBtn" class="col-6 text-right">
        <a
          class="btn btn-sm btn-secondary btn-round btn-icon"
          (click)="clearFilter()"
          href="javascript:void(0)"
          tooltip="Edit product"
          placement="top"
        >
          <span class="btn-inner--icon">
            <i class="fas fa-times"> </i>
          </span>

          <span class="btn-inner--text"> Effacer les filtres</span>
        </a>
      </div>
    </div>

    <form [formGroup]="filtersFormGroup" (ngSubmit)="filterTenants()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              class="form-control"
              formControlName="searchTerm"
              placeholder="Chercher par tél, cin, prénom et nom, email, address..."
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <app-search-input
              [clearInput]="false"
              [prefixIcon]="'fas fa-search'"
              [searchPlaceholder]="'Filtrer par status'"
              [searchLabel]="'Résultats'"
              [prefixText]="'Status:'"
              [maxSize]="4"
              [searchInputValue]="statusTenantSearchValue.title"
              (selectedResultItem)="onSelectedStatusTenantSearchItem($event)"
              [searchResult]="statusTenantOptions"
              [isEditable]="false"
            ></app-search-input>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <app-search-input
              [clearInput]="false"
              [prefixIcon]="'fas fa-search'"
              [searchPlaceholder]="'Filtrer par local (adresse ou num local)'"
              [searchLabel]="'Résultats'"
              [maxSize]="5"
              [triggerSearchOnOpen]="true"
              (searchValue)="onSearchApartmentValueChanged($event)"
              [searchInputValue]="searchApartmentValue"
              (selectedResultItem)="onSelectedApartmentSearchItem($event)"
              [searchResult]="apartmentOptions"
            ></app-search-input>
          </div>
        </div>
        
        <div class="col-md-3">
          <div
            class="form-group"
            [ngClass]="{
              focused: focus2 === true,
            }"
          >
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text text-sm">
                  {{ agreementPrefix }}
                </span>
              </div>
              <input
                class="form-control"
                [ngClass]="{
                  focused: focus2 === true,
                }"
                type="number"
                min="1"
                formControlName="tenantAgreement"
                placeholder="Chercher par num contrat"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div
            class="form-group"
            [ngClass]="{
              focused: focus3 === true,
            }"
          >
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text text-sm">
                  {{ propertyPrefix }}
                </span>
              </div>
              <input
                class="form-control"
                [ngClass]="{
                  focused: focus3 === true,
                }"
                type="number"
                min="1"
                formControlName="tenantProperty"
                placeholder="Chercher par num dossier"
                (focus)="focus3 = true"
                (blur)="focus3 = false"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-secondary" type="submit">Filtrer</button>
      </div>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table align-items-center table-flush table-hover">
      <thead class="thead-light">
        <tr>
          <th>Num locataire</th>
          <th>Nom & Prénom</th>
          <th>Téléphone</th>
          <th>Nationalité</th>
          <th>CIN</th>
          <th>Emploi</th>
          <th>Status du contrat</th>
          <th>Num du dernier contrat signé</th>
          <th>Période de validité du contrat</th>
          <th>Dernier local loué</th>
          <th>Dernier loyer payé le</th>
          <th>Ajouté le:</th>
          <th></th>

          <th></th>
        </tr>
      </thead>
      <div
        *ngIf="isLoadingFetchingTenants"
        class="spinner-border text-primary mt-4 ml-4"
        role="status"
      ></div>
      <div *ngIf="tenants.length === 0 && !isLoadingFetchingTenants" class="">
        <p class="ml-4 mb-0">Liste vide, aucun element trouvé.</p>
      </div>

      <tbody>
        <tr *ngFor="let tenant of tenants">
          <td
            style="cursor: pointer"
            (click)="redirectToDetails(tenant.id)"
            class="table-user"
          >
            <b> {{ tenant.matricule }} </b>
          </td>
          <td
            style="cursor: pointer"
            (click)="redirectToDetails(tenant.id)"
            class="table-user"
          >
            <span> {{ tenant.fullname }} </span>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <span class=""> {{ tenant.phoneNumber }} </span>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <span class="status"> {{ tenant.nationality }} </span>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <span class="">
                {{ tenant.cin }}
              </span>
            </div>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <span>{{ tenant.job }}</span>
            </div>
          </td>
          <td
            style="cursor: pointer"
            (click)="redirectToDetails(tenant.id)"
            class="table-user"
          >
            <div class="col-auto">
              <span
                *ngIf="tenant.status == 'NO_AGREEMENT'"
                class="badge badge-lg badge-warning"
              >
                PAS DE CONTRAT
              </span>

              <span
                *ngIf="tenant.status == 'NO_PAYMENT'"
                class="badge badge-lg badge-warning"
              >
                AUCUN PAIEMENT
              </span>

              <span
                *ngIf="tenant.status == 'AGREEMENT_EXPIRED'"
                class="badge badge-lg badge-warning"
              >
                CONTRAT EXPIRÉ
              </span>

              <span
                *ngIf="tenant.status == 'TERMINATED'"
                class="badge badge-lg badge-warning"
              >
                CONTRAT SUSPENDU
              </span>
              <span
                *ngIf="tenant.status == 'PAYMENT_DEFAULT'"
                class="badge badge-lg badge-warning"
              >
                RETARD DE PAIEMENT
              </span>

              <span
                *ngIf="tenant.status == 'IN_GOOD_STANDING'"
                class="badge badge-lg badge-success"
              >
                EN RÉGLE
              </span>
            </div>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <span> {{ tenant.agreement }} </span>
            </div>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <span class="status">
              {{ tenant.agreementStartDate | date }} -
              {{ tenant.agreementExpireDate | date }}
            </span>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <span> {{ tenant.apartment }} </span>
            </div>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <span> {{ tenant.lastPaymentDate | date }} </span>
            </div>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <span>{{ tenant.createdAt | date }}</span>
            </div>
          </td>

          <td>
            <a
              *ngIf="
                tenant.agreement &&
                (tenant.status == 'IN_GOOD_STANDING' ||
                  tenant.status == 'PAYMENT_DEFAULT')
              "
              href="dashboard/payment/create-payment/{{ tenant.id }}"
              class="nav-link"
              target="_blank"
            >
              <div class="flex gap-2">
                <i class="ni ni-money-coins"> </i
                ><span class="ml-2">Ajouter un loyer</span>
              </div></a
            >
          </td>
          <td class="table-actions">
            <!-- <a
              class="table-action"
              routerLink="../create-tenant"
              href="javascript:void(0)"
              tooltip="Edit product"
              placement="top"
            >
              <i class="fas fa-user-edit"> </i>
            </a> -->

            <a
              (click)="deleteTenant(tenant.id, tenant.fullname)"
              class="table-action table-action-delete"
              tooltip="Delete product"
              placement="top"
              href="javascript:void(0)"
            >
              <i class="fas fa-trash"> </i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer py-4">
    <nav aria-label="...">
      <pagination
        [totalItems]="totalLength"
        [itemsPerPage]="pageSize"
        [rotate]="false"
        [boundaryLinks]="true"
        [(ngModel)]="page"
        firstText="&laquo;"
        lastText="&raquo;"
        [maxSize]="5"
        class="justify-content-end mb-0"
        [customPreviousTemplate]="prevTemplate"
        (pageChanged)="pageChange($event)"
        [customNextTemplate]="nextTemplate"
      >
      </pagination>

      <ng-template #nextTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-right"></i>
        </ng-container>
      </ng-template>

      <ng-template #prevTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-left"></i>
        </ng-container>
      </ng-template>
    </nav>
  </div>
</div>
