<div class="card">
  <div class="card-header border-0">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-0">Liste des locataires ({{ totalLength }})</h3>
      </div>
    </div>
  </div>

  <div class="px-4 pt-2 pb-4">
    <div class="row justify-content-end px-3">
      <a
        class="btn btn-sm btn-primary btn-round btn-icon"
        href="javascript:void(0)"
        routerLink="../create-tenant"
      >
        <span class="btn-inner--icon">
          <i class="ni ni-fat-add"> </i>
        </span>
        <span class="btn-inner--text"> Ajouter un locataire </span>
      </a>
    </div>

    <div class="row justify-content-end my-4">
      <div *ngIf="showClearFilterBtn" class="col-6 text-right">
        <a
          class="btn btn-sm btn-secondary btn-round btn-icon"
          (click)="clearFilter()"
          href="javascript:void(0)"
          tooltip="Edit product"
          placement="top"
        >
          <span class="btn-inner--icon">
            <i class="fas fa-times"> </i>
          </span>

          <span class="btn-inner--text"> Effacer les filtres</span>
        </a>
      </div>
    </div>

    <form [formGroup]="filtersFormGroup" (ngSubmit)="filterTenants()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="example2cols1Input"
              formControlName="name"
              placeholder="Chercher par nom, prénom, tél, matricule, cin..."
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <app-search-site-input
              [placeholder]="'Chercher par matricule local'"
              [initialList]="premisesOptions"
              (selectedSite)="onSelectedSiteSearchItem($event)"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <app-search-site-input
              [placeholder]="'Chercher par matricule contrat'"
              [initialList]="premisesOptions"
              (selectedSite)="onSelectedSiteSearchItem($event)"
            />
          </div>
        </div>
      </div>

      <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-secondary" type="submit">Filtrer</button>
      </div>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table align-items-center table-flush table-hover">
      <thead class="thead-light">
        <tr>
          <th>Identifiant</th>
          <th>Nom & Prénom</th>
          <th>Téléphone</th>
          <th>Nationalité</th>
          <th>CIN</th>
          <th>Emploi</th>
          <th>Dernier Contrat</th>
          <th>Dernier Local</th>
          <th>Ajouté le:</th>

          <th></th>
        </tr>
      </thead>
      <div
        *ngIf="isLoadingFetchingTenants"
        class="spinner-border text-primary mt-4 ml-4"
        role="status"
      ></div>
      <div *ngIf="tenants.length === 0 && !isLoadingFetchingTenants" class="">
        <p class="ml-4 mb-0">Liste vide, aucun element trouvé.</p>
      </div>

      <tbody>
        <tr *ngFor="let tenant of tenants">
          <td
            style="cursor: pointer"
            (click)="redirectToDetails(tenant.id)"
            class="table-user"
          >
            <b> {{ tenant.matricule }} </b>
          </td>
          <td
            style="cursor: pointer"
            (click)="redirectToDetails(tenant.id)"
            class="table-user"
          >
            <b> {{ tenant.fullname }} </b>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <span class=""> {{ tenant.phoneNumber }} </span>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <span class="status"> {{ tenant.nationality }} </span>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <span class="">
                {{ tenant.cin }}
              </span>
            </div>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <span>{{ tenant.job }}</span>
            </div>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <b> {{ tenant.agreement }} </b>
            </div>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <b> {{ tenant.apartment }} </b>
            </div>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(tenant.id)">
            <div class="col-auto">
              <span>{{ tenant.createdAt | date: "dd/MM/yyyy" }}</span>
            </div>
          </td>
          <td class="table-actions">
            <a
              class="table-action"
              routerLink="../create-tenant"
              href="javascript:void(0)"
              tooltip="Edit product"
              placement="top"
            >
              <i class="fas fa-user-edit"> </i>
            </a>

            <a
              (click)="deleteTenant(tenant.id, tenant.fullname)"
              class="table-action table-action-delete"
              tooltip="Delete product"
              placement="top"
              href="javascript:void(0)"
            >
              <i class="fas fa-trash"> </i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer py-4">
    <nav aria-label="...">
      <pagination
        [totalItems]="totalLength"
        [itemsPerPage]="pageSize"
        [rotate]="false"
        [boundaryLinks]="true"
        [(ngModel)]="page"
        firstText="&laquo;"
        lastText="&raquo;"
        [maxSize]="5"
        class="justify-content-end mb-0"
        [customPreviousTemplate]="prevTemplate"
        (pageChanged)="pageChange($event)"
        [customNextTemplate]="nextTemplate"
      >
      </pagination>

      <ng-template #nextTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-right"></i>
        </ng-container>
      </ng-template>

      <ng-template #prevTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-left"></i>
        </ng-container>
      </ng-template>
    </nav>
  </div>
</div>
