.notification-badge {
    position: absolute;
    top: -4px;
    right: 4px;
    height: 16px;
    width: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 0.54rem;
    margin: 2px;
    padding-top: 2px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

