<nav
  [ngClass]="{ 'minimal-sidenav': isMinimalist, sidenav: !isMinimalist }"
  class="navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
  id="sidenav-main"
>
  <div class="sidebar-wrapper">
    <!-- Full sidebar header -->
    <div *ngIf="!isMinimalist" class="sidenav-header d-flex align-items-center">
      <a class="navbar-brand p-0" [routerLink]="['/dashboards/dashboard']">
        <div
          *ngIf="user && !getUserIsLoading"
          class="d-flex flex-row align-items-center"
        >
          <img
            *ngIf="user?.societyLogo"
            class="sidebar-logo"
            src="../../../assets/img/{{ user.societyLogo }}"
            alt="Logo"
          />
          <span class="sidebar-brand-name ml-2">{{ user.societyName }}</span>
        </div>
      </a>
    </div>

    <!-- Minimalist sidebar header -->
    <div
      *ngIf="isMinimalist"
      class="minimalist-header d-flex align-items-center justify-content-center"
    >
      <a
        [routerLink]="['/dashboards/dashboard']"
        [title]="user?.societyName || 'Tableau de bord'"
      >
        <div *ngIf="user && !getUserIsLoading">
          <img
            *ngIf="user.societyLogo"
            class="sidebar-logo"
            src="../../../assets/img/{{ user.societyLogo }}"
            alt="Logo"
          />
        </div>
      </a>
    </div>

    <div class="navbar-inner">
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Full nav -->
        <ul *ngIf="!isMinimalist" class="navbar-nav mt-1">
          <li *ngFor="let menuitem of menuItems" class="nav-item">
            <a
              routerLinkActive="active"
              [routerLink]="[menuitem.path]"
              *ngIf="menuitem.type === 'link'"
              class="nav-link"
              [attr.aria-label]="menuitem.title"
            >
              <i class="fas {{ menuitem.icontype }} nav-icon"></i>
              <span class="nav-link-text">{{ menuitem.title }}</span>
            </a>

            <a
              data-toggle="collapse"
              routerLinkActive="active"
              *ngIf="menuitem.type === 'sub'"
              (click)="menuitem.isCollapsed = !menuitem.isCollapsed"
              [attr.aria-expanded]="!menuitem.isCollapsed"
              [attr.aria-controls]="menuitem.collapse"
              class="nav-link"
              [attr.aria-label]="menuitem.title"
            >
              <i class="fas {{ menuitem.icontype }} nav-icon"></i>
              <span class="nav-link-text">{{ menuitem.title }}</span>
            </a>

            <div
              id="{{ menuitem.collapse }}"
              class="collapse"
              *ngIf="menuitem.type === 'sub'"
              [collapse]="menuitem.isCollapsed"
              [isAnimated]="true"
            >
              <ul class="nav nav-sm flex-column">
                <li
                  *ngFor="let childitems of menuitem.children"
                  class="nav-item"
                >
                  <a
                    routerLinkActive="active"
                    [routerLink]="menuitem.path + '/' + childitems.path"
                    class="nav-link sub-nav-link"
                    *ngIf="childitems.type === 'link'"
                  >
                    <span class="sub-dot"></span>
                    {{ childitems.title }}
                  </a>

                  <a
                    data-toggle="collapse"
                    (click)="childitems.isCollapsed = !childitems.isCollapsed"
                    [attr.aria-expanded]="!childitems.isCollapsed"
                    [attr.aria-controls]="childitems.collapse"
                    *ngIf="childitems.type === 'sub'"
                    class="nav-link sub-nav-link"
                  >
                    <span class="sub-dot"></span>
                    {{ childitems.title }}
                  </a>

                  <div
                    id="{{ childitems.collapse }}"
                    class="collapse"
                    *ngIf="childitems.type === 'sub'"
                    [collapse]="childitems.isCollapsed"
                    [isAnimated]="true"
                  >
                    <ul class="nav">
                      <li
                        *ngFor="let childitem of childitems.children"
                        class="nav-item"
                      >
                        <a
                          href="javascript:void(0)"
                          class="nav-link sub-nav-link"
                        >
                          <span class="sub-dot"></span>
                          {{ childitem.title }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <!-- Minimalist nav -->
        <ul *ngIf="isMinimalist" class="navbar-nav mt-1">
          <li *ngFor="let menuitem of menuItems" class="nav-item">
            <div *ngIf="!menuitem.children" class="minimalist-item">
              <a
                routerLinkActive="active"
                [routerLink]="[menuitem.path]"
                class="nav-link minimalist-link"
                [title]="menuitem.title"
                [attr.aria-label]="menuitem.title"
              >
                <i class="fas {{ menuitem.icontype }}"></i>
              </a>
            </div>

            <div *ngIf="menuitem.children" class="minimalist-item">
              <a
                routerLinkActive="active"
                dropdown
                dropdownToggle
                [routerLink]="[]"
                class="nav-link minimalist-link"
                [title]="menuitem.title"
                [attr.aria-label]="menuitem.title"
              >
                <i class="fas {{ menuitem.icontype }}"></i>
                <div
                  class="dropdown-menu dropdown-menu-arrow dropdown-menu-left minimal-dropdown"
                  *dropdownMenu
                >
                  <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">{{ menuitem.title }}</h6>
                  </div>
                  <ul class="nav flex-column px-1">
                    <li
                      *ngFor="let childitem of menuitem.children"
                      class="dropdown-item w-100 p-0"
                      routerLink="{{ menuitem.path }}/{{ childitem.path }}"
                    >
                      <a class="minimal-nav-item-link d-flex w-100">
                        {{ childitem.title }}
                      </a>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
