<div class="card">
  <div class="card-header border-0">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-0">Liste des contrats ({{ totalLength }})</h3>
      </div>
    </div>
  </div>

  <div class="px-4 pt-2 pb-4">
    <div class="row justify-content-end px-3">
      <a
        class="btn btn-sm btn-primary btn-round btn-icon"
        href="javascript:void(0)"
        routerLink="../create-agreement"
      >
        <span class="btn-inner--icon">
          <i class="ni ni-fat-add"> </i>
        </span>
        <span class="btn-inner--text"> Créer un nouveau contrat </span>
      </a>
    </div>

    <div class="row justify-content-end my-4">
      <div *ngIf="showClearFilterBtn" class="col-6 text-right">
        <a
          class="btn btn-sm btn-secondary btn-round btn-icon"
          (click)="clearFilter()"
          href="javascript:void(0)"
          tooltip="Edit product"
          placement="top"
        >
          <span class="btn-inner--icon">
            <i class="fas fa-times"> </i>
          </span>

          <span class="btn-inner--text"> Effacer les filtres</span>
        </a>
      </div>
    </div>

    <form [formGroup]="filtersFormGroup" (ngSubmit)="filterAgreements()">
      <div class="row">
        <div class="col-md-3">
          <div
            class="form-group"
            [ngClass]="{
              focused: focus2 === true,
            }"
          >
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text text-sm">
                  {{ agreementPrefix }}
                </span>
              </div>
              <input
                class="form-control"
                [ngClass]="{
                  focused: focus2 === true,
                }"
                type="number"
                min="1"
                formControlName="searchTerm"
                placeholder="Chercher par num contrat"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div
            class="form-group"
            [ngClass]="{
              focused: focus3 === true,
            }"
          >
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text text-sm">
                  {{ propertyPrefix }}
                </span>
              </div>
              <input
                class="form-control"
                [ngClass]="{
                  focused: focus3 === true,
                }"
                type="number"
                min="1"
                formControlName="agreementProperty"
                placeholder="Chercher par num dossier"
                (focus)="focus3 = true"
                (blur)="focus3 = false"
              />
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <app-search-input
              [clearInput]="false"
              [prefixIcon]="'fas fa-search'"
              [searchPlaceholder]="'Filtrer par local (adresse ou num local)'"
              [searchLabel]="'Résultats'"
              [maxSize]="5"
              [triggerSearchOnOpen]="true"
              (searchValue)="onSearchApartmentValueChanged($event)"
              [searchInputValue]="searchApartmentValue"
              (selectedResultItem)="onSelectedApartmentSearchItem($event)"
              [searchResult]="apartmentOptions"
            ></app-search-input>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <app-search-input
              [clearInput]="false"
              [prefixIcon]="'fas fa-search'"
              [searchPlaceholder]="'Filtrer par status contrat'"
              [searchLabel]="'Résultats'"
              [prefixText]="'Status contrat'"
              [maxSize]="4"
              [searchInputValue]="agreementStatusTypeSearchValue.title"
              (selectedResultItem)="
                onSelectedAgreementStatusTypeSearchItem($event)
              "
              [searchResult]="agreementStatusOptions"
              [isEditable]="false"
            ></app-search-input>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <app-date-range-picker
            (startDate)="onStartDateChange($event)"
            (endDate)="onEndDateChange($event)"
          ></app-date-range-picker>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <app-search-input
              [clearInput]="false"
              [prefixIcon]="'fas fa-search'"
              [searchPlaceholder]="'Filtrer par locataire'"
              [searchLabel]="'Résultats'"
              [triggerSearchOnOpen]="true"
              (searchValue)="onSearchTenantValueChanged($event)"
              [searchInputValue]="searchTenantValue"
              (selectedResultItem)="onSelectedTenantSearchItem($event)"
              [searchResult]="tenantOptions"
            ></app-search-input>
          </div>
        </div>
      </div>

      <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-secondary" type="submit">Filtrer</button>
      </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush table-hover">
      <thead class="thead-light">
        <tr>
          <th>Num contrat</th>
          <th>Locataire</th>
          <th>Local</th>
          <th>Période de validité du contrat</th>
          <th>Montant du loyer</th>
          <th>Fréquence de paiement</th>
          <th>Status</th>
          <th>Crée le:</th>

          <th></th>
        </tr>
      </thead>
      <div
        *ngIf="isLoadingFetchingAgreements"
        class="spinner-border text-primary mt-4 ml-4"
        role="status"
      ></div>
      <div
        *ngIf="agreements.length === 0 && !isLoadingFetchingAgreements"
        class=""
      >
        <p class="ml-4 mb-0">Liste vide, aucun element trouvé.</p>
      </div>

      <tbody>
        <tr *ngFor="let agreement of agreements">
          <td
            style="cursor: pointer"
            (click)="redirectToDetails(agreement.id)"
            class="table-user"
          >
            <span> {{ agreement.matricule }} </span>
          </td>
          <td
            style="cursor: pointer"
            (click)="redirectToDetails(agreement.id)"
            class="table-user"
          >
            <span> {{ agreement.tenant }} </span>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(agreement.id)">
            <span class=""> {{ agreement.apartment }} </span>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(agreement.id)">
            <span class="status">
              {{ agreement.startDate | date: "dd/MM/yyyy" }} -
              {{ agreement.expireDate | date: "dd/MM/yyyy" }}
            </span>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(agreement.id)">
            <span class="status"> {{ agreement.rentAmount }} DT </span>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(agreement.id)">
            <span class="status"> {{ agreement.paymentFrequency }} </span>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(agreement.id)">
            <div class="col-auto">
              <span
                *ngIf="agreement.status == 'ACTIVE'"
                class="badge badge-lg badge-success"
              >
                Valide
              </span>

              <span
                *ngIf="agreement.status == 'EXPIRED'"
                class="badge badge-lg badge-danger"
              >
                Expiré
              </span>
            </div>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(agreement.id)">
            <span class="status">
              {{ agreement.createdAt | date }}
            </span>
          </td>

          <td class="table-actions">
            <!-- <a
              class="table-action"
              routerLink="../create-aggrement"
              href="javascript:void(0)"
              tooltip="Edit product"
              placement="top"
            >
              <i class="fas fa-user-edit"> </i>
            </a> -->

            <a
              (click)="deleteAgreement(agreement.id, '')"
              class="table-action table-action-delete"
              tooltip="Delete product"
              placement="top"
              href="javascript:void(0)"
            >
              <i class="fas fa-trash"> </i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer py-4">
    <nav aria-label="...">
      <pagination
        [totalItems]="totalLength"
        [itemsPerPage]="pageSize"
        [rotate]="false"
        [boundaryLinks]="true"
        [(ngModel)]="page"
        firstText="&laquo;"
        lastText="&raquo;"
        [maxSize]="5"
        class="justify-content-end mb-0"
        [customPreviousTemplate]="prevTemplate"
        (pageChanged)="pageChange($event)"
        [customNextTemplate]="nextTemplate"
      >
      </pagination>

      <ng-template #nextTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-right"></i>
        </ng-container>
      </ng-template>

      <ng-template #prevTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-left"></i>
        </ng-container>
      </ng-template>
    </nav>
  </div>
</div>
