<form [formGroup]="absenceFormGroup" (submit)="editLeave()">
    <div class=" modal-header ">
        <div class="d-flex flex-column w-100 justify-content-start">
            <h3 class=" mb-0"> Mettre à jour congé </h3>
        </div>
    </div>

    <div style="padding: 0px !important; height: 20vh;overflow-y: auto !important;" class=" modal-body">

        <div class="px-4">
            <div class="row mt-5">
                <div class="col">
                    <div class=" form-group">
                        <label class=" form-control-label">
                            Periode d'absence
                        </label>

                        <input formControlName="absenceRangeDate" placeholder="Période d'absence" type="text"
                            class="form-control"
                            [ngClass]="{'is-invalid': updateLeaveIsSubmitted && absenceEmpForm && (absenceEmpForm['absenceRangeDate'].errors?.['required']) , 'is-valid': updateLeaveIsSubmitted && absenceEmpForm && (!absenceEmpForm['absenceRangeDate'].errors?.['required'])  }"
                            bsDaterangepicker [bsConfig]="bsConfig" />
                        <div class="invalid-feedback">
                            Champs manquant, Periode d'absence est obligatoire.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class=" modal-footer d-flex justify-content-between">

        <div class="d-flex w-100  flex-wrap  align-content-stretch justify-content-end ">
            <div *ngIf="isLeaveLoading" class="spinner-border text-primary mr-5" role="status">
            </div>
            <button *ngIf="!isLeaveLoading" class=" btn btn-primary" type="submit" data-calendar="delete">
                Confirmer
            </button>

            <button class=" btn btn-secondary" type="button" (click)="cancel()">
                Annuler
            </button>

        </div>
    </div>
</form>