<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Détails de la propriété (Bien)</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">
              Num dossier
            </h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ propertyDetails?.idNumber ?? "" }}
            </h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">Adresse</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ propertyDetails?.address ?? "" }}
            </h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">Type</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ propertyDetails?.type }}
            </h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">
              Propriétaire
            </h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ propertyDetails?.owner ?? "" }}
            </h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">
              Date de création
            </h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ propertyDetails?.createdAt | date: "dd/MM/yyyy" }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-upsert-property [propertyDetails]="propertyDetails"> </app-upsert-property>

<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">
          Liste des locaux pour cette propriété (Bien) ({{ totalLength }})
        </h3>
      </div>
    </div>
    <div class="row justify-content-end px-3 pb-4">
      <a
        class="btn btn-sm btn-primary btn-round btn-icon"
        href="javascript:void(0)"
        routerLink="../../../apartment/create-apartment/{{
          propertyDetails?.id
        }}"
      >
        <span class="btn-inner--icon">
          <i class="ni ni-fat-add"> </i>
        </span>
        <span class="btn-inner--text"> Ajouter un local </span>
      </a>
    </div>
    <div class="row mb-3 mt-3">
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-hover">
          <thead>
            <tr>
              <th scope="col">Numéro local</th>
              <th scope="col">Adresse</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <div
            *ngIf="isLoadingFetchingApartments"
            class="spinner-border text-primary mt-4 ml-4"
            role="status"
          ></div>
          <div
            *ngIf="apartments.length === 0 && !isLoadingFetchingApartments"
            class=""
          >
            <p class="ml-4 mb-0">Liste vide, aucun element trouvé.</p>
          </div>
          <tbody>
            <tr *ngFor="let apartment of apartments">
              <td>
                <h4>{{ apartment.idNumber }}</h4>
              </td>
              <td>
                <h4>{{ apartment.address }}</h4>
              </td>
              <td>
                <h4>{{ apartment.type }}</h4>
              </td>
              <td>
                <span
                  *ngIf="apartment.rentStatus == 'notRented'"
                  class="badge badge-lg badge-secondary"
                >
                  Non loué
                </span>
                <span
                  *ngIf="apartment.rentStatus == 'rented'"
                  class="badge badge-lg badge-success"
                >
                  Loué
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer py-4">
    <nav aria-label="...">
      <pagination
        [totalItems]="totalLength"
        [itemsPerPage]="pageSize"
        [rotate]="false"
        [boundaryLinks]="true"
        [(ngModel)]="page"
        firstText="&laquo;"
        lastText="&raquo;"
        [maxSize]="5"
        class="justify-content-end mb-0"
        [customPreviousTemplate]="prevTemplate"
        (pageChanged)="pageChange($event)"
        [customNextTemplate]="nextTemplate"
      >
      </pagination>

      <ng-template #nextTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-right"></i>
        </ng-container>
      </ng-template>

      <ng-template #prevTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-left"></i>
        </ng-container>
      </ng-template>
    </nav>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Relevé de compte de la propriété (Bien)</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row mb-5 mt-3">
      <div class="col">
        <div class="form-group">
          <app-search-input
            [clearInput]="false"
            [prefixIcon]="'fas fa-search'"
            [searchPlaceholder]="'Filtrer par trimestre'"
            [searchLabel]="'Résultats'"
            [prefixText]="'Trimestre'"
            [maxSize]="4"
            [searchInputValue]="trimesterSearchValue?.title ?? ''"
            (selectedResultItem)="onSelectedTrimesterSearchItem($event)"
            [searchResult]="trimestersOptions"
            [isEditable]="false"
          ></app-search-input>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <div class="my-3 pr-2 d-flex w-100 flex-row justify-content-end">
        <button class="btn btn-icon btn-secondary" type="button">
          <span class="btn-inner--icon">
            <i class="ni ni-cloud-download-95"> </i>
          </span>

          <span class="btn-inner--text"> Exporter </span>
        </button>
      </div>
      <table class="table align-items-center table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">DATE</th>
            <th scope="col">COMPTES</th>
            <th class="text-center" scope="col">LIBELLES</th>
            <th scope="col">DEBIT</th>
            <th scope="col">CREDIT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of financialBalance?.payments">
            <th scope="row">{{ payment.paymentDate | date: "dd/MM/yyyy" }}</th>
            <td>
              <h4>{{ payment.account }}</h4>
            </td>
            <td>
              <div *ngIf="payment.type == 'income'" class="row">
                <div class="col-6">
                  <h4>{{ payment.tenant }}</h4>
                </div>
                <div class="col-6">
                  <h4>{{ payment.reason }}</h4>
                </div>
              </div>
              <div *ngIf="payment.type == 'expense'" class="row">
                <div class="col-6">
                  <h4>{{ payment.reason }}</h4>
                </div>
              </div>
            </td>
            <td>
              <h4 *ngIf="payment.type == 'expense'">
                <i class="fas fa-arrow-down text-warning mr-3"> </i>
                {{ payment.amount | number: "1.3-3" }} TND
              </h4>
            </td>
            <td>
              <h4 *ngIf="payment.type == 'income'">
                <i class="fas fa-arrow-up text-success mr-3"> </i>
                {{ payment.amount | number: "1.3-3" }} TND
              </h4>
            </td>
          </tr>
          <tr *ngIf="financialBalance?.profit">
            <th scope="row">{{ endDate | date: "dd/MM/yyyy" }}</th>
            <td>
              <h4></h4>
            </td>
            <td>
              <div class="row">
                <div class="col-6">
                  <table class="table table-borderless">
                    <tr>
                      <td><h4>RECOUVREMENT AGENCE</h4></td>
                      <td>
                        <h4>{{ propertyDetails?.profitInPercentage }}%</h4>
                      </td>
                      <td>
                        <h4>
                          SUR
                          {{ financialBalance?.totalIncome | number: "1.3-3" }}
                          TND
                        </h4>
                      </td>
                      <td><h4>=</h4></td>
                      <td>
                        <h4>
                          {{
                            financialBalance?.profit?.grossProfit
                              | number: "1.3-3"
                          }}
                          TND
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td><h4>TVA</h4></td>
                      <td><h4>19%</h4></td>
                      <td></td>
                      <td><h4>=</h4></td>
                      <td>
                        <h4>
                          {{
                            financialBalance?.profit?.taxAmount
                              | number: "1.3-3"
                          }}
                          TND
                        </h4>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row"></div>
            </td>
            <td>
              <h4>
                <i class="fas fa-arrow-down text-warning mr-3"> </i>
                {{ financialBalance?.profit?.profitWithTax | number: "1.3-3" }}
                TND
              </h4>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="d-flex justify-content-end">
                <h4>TOTAL:</h4>
              </div>
            </td>
            <td>
              <h4 class="text-warning">
                <i class="fas fa-arrow-down text-warning mr-3"> </i
                >{{ financialBalance?.totalExpense | number: "1.3-3" }} TND
              </h4>
            </td>
            <td>
              <h4 class="text-success">
                <i class="fas fa-arrow-up text-success mr-3"> </i>
                {{ financialBalance?.totalIncome | number: "1.3-3" }} TND
              </h4>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="d-flex justify-content-end">
                <h4>Solde créditeur:</h4>
              </div>
            </td>
            <td colspan="2">
              <h4>{{ financialBalance?.netBalance | number: "1.3-3" }} TND</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
