<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Détails du bien</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">
              Identifant
            </h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ propertyDetails?.id ?? "" }}
            </h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">Adresse</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ propertyDetails?.address ?? "" }}
            </h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">Type</h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ propertyDetails?.type }}
            </h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <h5 class="card-title text-uppercase text-muted mb-0">
              Propriétaire
            </h5>

            <h5 class="h2 font-weight-bold mb-0 mt-1">
              {{ propertyDetails?.owner ?? "" }}
            </h5>
          </div>
        </div>
      </div>

      <h6 class="heading-small text-muted my-4">Liste des locaux</h6>

      <div class="row mb-4">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th scope="col">Identifiants</th>
              <th scope="col">Adresse</th>
              <th scope="col">Nb Contrat</th>
              <th scope="col">Dernier Contrat</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">P1B1L1</th>
              <td>
                <h4>21 Rue Basatine, Mourouj, Tunis</h4>
              </td>
              <td>
                <h4>3</h4>
              </td>
              <td>
                <h4>21/02/2023 - 30/12/2026</h4>
              </td>
            </tr>
            <tr>
              <th scope="row">P1B1L2</th>
              <td>
                <h4>25 Rue Basatine, Mourouj, Tunis</h4>
              </td>
              <td>
                <h4>1</h4>
              </td>
              <td>
                <h4>21/02/2023 - 30/12/2024</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-upsert-property [propertyDetails]="propertyDetails"> </app-upsert-property>

<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Ajouter des locaux</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="setApartmentToProperty()">
      <div class="row mb-3 mt-3">
        <div class="col">
          <div class="form-group">
            <label class="form-control-label"> Chercher un local </label>

            <div class="row">
              <div class="col-md-12">
                <app-search-input
                  [clearInput]="false"
                  [prefixIcon]="'fas fa-search'"
                  [searchPlaceholder]="'Chercher un local'"
                  [searchLabel]="'Résultats'"
                  [maxSize]="5"
                  [isInvalid]="
                    submitted &&
                    editApartmentForm['apartmentId'].errors?.['required']
                  "
                  [errorMessage]="'Champs incorrect, Local est obligatoire'"
                  [triggerSearchOnOpen]="true"
                  (searchValue)="onSearchApartmentValueChanged($event)"
                  [searchInputValue]="searchApartmentValue"
                  (selectedResultItem)="onSelectedApartmentSearchItem($event)"
                  [searchResult]="apartmentOptions"
                ></app-search-input>
              </div>
            </div>
            <div class="mt-3 d-flex w-100 flex-row justify-content-end">
              <button *ngIf="!isLoading" class="btn btn-primary" type="submit">
                Confirmer
              </button>
              <div
                *ngIf="isLoading"
                class="spinner-border text-primary mr-5"
                role="status"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Relevé de compte du bien</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row mb-5 mt-3">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">
            Periode de relevé de compte
          </label>

          <input
            formControlName="absenceRangeDate"
            placeholder="Periode de relevé de compte"
            type="text"
            class="form-control"
            bsDaterangepicker
            [minDate]="minDate"
            [bsConfig]="bsConfig"
          />
          <div class="mt-3 d-flex w-100 flex-row justify-content-end">
            <button class="btn btn-primary" type="submit">Confirmer</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <div class="my-3 pr-2 d-flex w-100 flex-row justify-content-end">
        <button class="btn btn-icon btn-secondary" type="button">
          <span class="btn-inner--icon">
            <i class="ni ni-cloud-download-95"> </i>
          </span>

          <span class="btn-inner--text"> Exporter </span>
        </button>
      </div>
      <table class="table align-items-center table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">DATE</th>
            <th scope="col">COMPTES</th>
            <th class="text-center" scope="col">LIBELLES</th>
            <th scope="col">DEBIT</th>
            <th scope="col">CREDIT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of financialBalance?.payments">
            <th scope="row">{{ payment.createdAt | date: "dd/MM/yyyy" }}</th>
            <td>
              <h4>{{ payment.agreement }}</h4>
            </td>
            <td>
              <div class="row">
                <div class="col-6">
                  <h4>{{ payment.tenant }}</h4>
                </div>
                <div class="col-6">
                  <h4>{{ payment.category }}</h4>
                </div>
              </div>
            </td>
            <td>
              <h4 *ngIf="payment.type == 'expense'">
                <i class="fas fa-arrow-down text-warning mr-3"> </i>
                {{ payment.amount }} DT
              </h4>
            </td>
            <td>
              <h4 *ngIf="payment.type == 'income'">
                <i class="fas fa-arrow-up text-success mr-3"> </i>
                {{ payment.amount }} DT
              </h4>
            </td>
          </tr>
          <!-- <tr>
            <th scope="row">20/08/2024</th>
            <td>
              <h4>MAG 3</h4>
            </td>
            <td>
              <div class="row">
                <div class="col-6"><h4>Monsieur Sahbi Ben Amor</h4></div>
                <div class="col-6"><h4>Loyer aout 2024</h4></div>
              </div>
            </td>
            <td>
              <h4></h4>
            </td>
            <td>
              <h4>750 DT</h4>
            </td>
          </tr>
          <tr>
            <th scope="row">27/08/2024</th>
            <td>
              <h4>MAG 3</h4>
            </td>
            <td>
              <div class="row">
                <div class="col-6"><h4>Monsieur Sahbi Ben Amor</h4></div>
                <div class="col-6"><h4>Loyer Septembre 2024</h4></div>
              </div>
            </td>
            <td>
              <h4></h4>
            </td>
            <td>
              <h4>750 DT</h4>
            </td>
          </tr>
          <tr>
            <th scope="row">27/08/2024</th>
            <td>
              <h4>Apt N3</h4>
            </td>
            <td>
              <div class="row">
                <div class="col-6"><h4>MR Mongi JMILI</h4></div>
                <div class="col-6"><h4>Avance sur travaux peinture</h4></div>
              </div>
            </td>
            <td>
              <h4>200 DT</h4>
            </td>
            <td>
              <h4></h4>
            </td>
          </tr>
          <tr>
            <th scope="row">15/09/2024</th>
            <td>
              <h4>Apt N3</h4>
            </td>
            <td>
              <div class="row">
                <div class="col-6"><h4>MR FARHAT HAJAM</h4></div>
                <div class="col-6">
                  <h4>Solde Sur divers travaux de plomberie</h4>
                </div>
              </div>
            </td>
            <td>
              <h4>200 DT</h4>
            </td>
            <td>
              <h4></h4>
            </td>
          </tr> -->

          <tr>
            <td colspan="3">
              <div class="d-flex justify-content-end">
                <h4>TOTAL:</h4>
              </div>
            </td>
            <td>
              <h4 class="text-warning">
                <i class="fas fa-arrow-down text-warning mr-3"> </i
                >{{ financialBalance?.totalExpense }} DT
              </h4>
            </td>
            <td>
              <h4 class="text-success">
                <i class="fas fa-arrow-up text-success mr-3"> </i>
                {{ financialBalance?.totalIncome }} DT
              </h4>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="d-flex justify-content-end">
                <h4>Solde créditeur:</h4>
              </div>
            </td>
            <td colspan="2">
              <h4>{{ financialBalance?.netBalance }} DT</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
