<div class="card">
  <div class="card-header">
    <h3 *ngIf="ownerDetails" class="mb-0">Modifier propriètaire</h3>
    <h3 *ngIf="!ownerDetails" class="mb-0">Nouveau propriètaire</h3>
  </div>

  <div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="addNewEmployee()">
      <div *ngIf="canChangeType" class="form-group row">
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          Type
        </label>

        <div class="col-md-10">
          <div class="input-group">
            <div class="row ml-1 mb-1">
              <div
                style="cursor: pointer"
                (click)="onChangeType('natural')"
                class="custom-control custom-radio mb-3"
              >
                <input
                  formControlName="type"
                  value="natural"
                  class="custom-control-input"
                  id="customRadio5"
                  type="radio"
                />

                <label
                  class="custom-control-label"
                  style="padding-left: 12px; padding-top: 12px"
                  for="customRadio5"
                >
                  P. Physique
                </label>
              </div>

              <div
                style="cursor: pointer"
                (click)="onChangeType('legal')"
                class="custom-control custom-radio ml-4 mb-3"
              >
                <input
                  formControlName="type"
                  value="legal"
                  class="custom-control-input"
                  id="customRadio4"
                  type="radio"
                />

                <label
                  class="custom-control-label"
                  style="padding-left: 12px; padding-top: 12px"
                  for="customRadio4"
                >
                  P. Morale
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="formGroup.get('type')?.value == 'natural'"
        class="form-group row"
      >
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          Nom <span class="text-danger">*</span>
        </label>

        <div class="col-md-10">
          <div class="input-group input-group-merge">
            <input
              formControlName="lastname"
              [ngClass]="{
                'is-invalid': submitted && f['lastname'].errors?.['required'],
                'is-valid': submitted && !f['lastname'].errors?.['required'],
              }"
              class="form-control"
              id="example-text-input"
              placeholder="Nom de propriètaire"
              type="text"
              value=""
              (focus)="focus1 = true"
              (blur)="focus1 = false"
            />
          </div>
          <div class="invalid-feedback">
            Champs manquant, nom est obligatoire.
          </div>
        </div>
      </div>

      <div
        *ngIf="formGroup.get('type')?.value == 'legal'"
        class="form-group row"
      >
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          Nom de société <span class="text-danger">*</span>
        </label>

        <div class="col-md-10">
          <div class="input-group input-group-merge">
            <input
              formControlName="society"
              [ngClass]="{
                'is-invalid': submitted && f['society'].errors?.['required'],
                'is-valid': submitted && !f['society'].errors?.['required'],
              }"
              class="form-control"
              id="example-text-input"
              placeholder="Nom de société"
              type="text"
              value=""
              (focus)="focus2 = true"
              (blur)="focus2 = false"
            />
          </div>
          <div class="invalid-feedback">
            Champs manquant, Nom de société est obligatoire.
          </div>
        </div>
      </div>
      <div
        *ngIf="formGroup.get('type')?.value == 'legal'"
        class="form-group row"
      >
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          Matricule fiscal <span class="text-danger">*</span>
        </label>

        <div class="col-md-10">
          <div class="input-group input-group-merge">
            <input
              formControlName="taxId"
              [ngClass]="{
                'is-invalid': submitted && f['taxId'].errors?.['required'],
                'is-valid': submitted && !f['taxId'].errors?.['required'],
              }"
              class="form-control"
              id="example-text-input"
              placeholder="Matricule fiscal"
              type="number"
              min="0"
              value=""
              (focus)="focus3 = true"
              (blur)="focus3 = false"
            />
          </div>
          <div class="invalid-feedback">
            Champs manquant, Matricule fiscal est obligatoire.
          </div>
        </div>
      </div>
      <div
        *ngIf="formGroup.get('type')?.value == 'natural'"
        class="form-group row"
      >
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          Prénom <span class="text-danger">*</span>
        </label>

        <div class="col-md-10">
          <div class="input-group input-group-merge">
            <input
              formControlName="firstname"
              [ngClass]="{
                'is-invalid': submitted && f['firstname'].errors?.['required'],
                'is-valid': submitted && !f['firstname'].errors?.['required'],
              }"
              class="form-control"
              id="example-text-input"
              type="text"
              value=""
              placeholder="Prénom de propriètaire"
              (focus)="focus4 = true"
              (blur)="focus4 = false"
            />
          </div>
          <div class="invalid-feedback">
            Champs manquant, prénom est obligatoire.
          </div>
        </div>
      </div>

      <div
        *ngIf="formGroup.get('type')?.value == 'natural'"
        class="form-group row"
      >
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          Gender
        </label>

        <div class="col-md-10">
          <div class="input-group">
            <div class="row ml-1 mb-1">
              <div
                style="cursor: pointer"
                (click)="onChangeGender('M')"
                class="custom-control custom-radio mb-3"
              >
                <input
                  formControlName="gender"
                  value="M"
                  class="custom-control-input"
                  id="customRadio7"
                  type="radio"
                />

                <label
                  class="custom-control-label"
                  style="padding-left: 12px; padding-top: 12px"
                  for="customRadio7"
                >
                  Homme
                </label>
              </div>

              <div
                style="cursor: pointer"
                (click)="onChangeGender('F')"
                class="custom-control custom-radio ml-4 mb-3"
              >
                <input
                  formControlName="gender"
                  value="F"
                  class="custom-control-input"
                  id="customRadio8"
                  type="radio"
                />

                <label
                  class="custom-control-label"
                  style="padding-left: 12px; padding-top: 12px"
                  for="customRadio8"
                >
                  Femme
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-time-input"
        >
          Nationalité <span class="text-danger">*</span>
        </label>
        <div class="col-md-10">
          <app-search-input
            [clearInput]="false"
            [searchInputValue]="nationalityTypeList[0].title"
            [prefixIcon]="'fas fa-search'"
            [searchPlaceholder]="'Nationalité'"
            [searchLabel]="'Résultats'"
            [maxSize]="3"
            (selectedResultItem)="selectedNationaliaty($event)"
            [searchResult]="nationalityTypeList"
            [isEditable]="false"
          ></app-search-input>
        </div>
      </div>
      <div
        *ngIf="formGroup.get('type')?.value == 'natural'"
        class="form-group row"
      >
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          CIN <span class="text-danger">*</span>
        </label>

        <div class="col-md-10">
          <div class="input-group input-group-merge">
            <input
              [ngClass]="{
                'is-invalid':
                  (submitted && f['cin'].errors?.['required']) ||
                  formGroup.errors?.['cinIncorrect'],
                'is-valid':
                  submitted &&
                  !f['cin'].errors?.['required'] &&
                  !formGroup.errors?.['cinIncorrect'],
              }"
              formControlName="cin"
              class="form-control"
              id="example-text-input"
              type="text"
              min="0"
              placeholder="Num carte identité national"
              (focus)="focus5 = true"
              (blur)="focus5 = false"
            />
            <div
              *ngIf="submitted && f['cin'].errors?.['required']"
              class="invalid-feedback"
            >
              Champs manquant, cin est obligatoire.
            </div>

            <div
              *ngIf="
                submitted &&
                !f['cin'].errors?.['required'] &&
                formGroup.errors?.['cinIncorrect']
              "
              class="invalid-feedback"
            >
              Champs incorrect, cin invalide il faut exactement 8 chiffres.
            </div>
          </div>
          <small class="text-muted font-weight-light">
            Un CIN valide doit contenir exactement 8 chiffres
          </small>
        </div>
      </div>

      <div class="form-group row">
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          Email
        </label>

        <div class="col-md-10">
          <div class="input-group input-group-merge">
            <input
              formControlName="email"
              class="form-control"
              id="example-text-input"
              type="text"
              value=""
              placeholder="Email"
              (focus)="focus6 = true"
              (blur)="focus6 = false"
            />
          </div>
        </div>
      </div>

      <div
        class="form-group row"
        [ngClass]="{
          focused: focus10 === true,
          'has-danger':
            submitted &&
            (f['phoneNumber'].errors?.['required'] ||
              formGroup.errors?.['phoneNumberIncorrect']),
        }"
      >
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          Num Tél <span class="text-danger">*</span>
        </label>

        <div class="col-md-10">
          <div class="input-group input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text text-sm"> +216 </span>
            </div>
            <input
              [ngClass]="{
                focused: focus10 === true,
                'is-invalid':
                  submitted &&
                  (f['phoneNumber'].errors?.['required'] ||
                    formGroup.errors?.['phoneNumberIncorrect']),
              }"
              formControlName="phoneNumber"
              class="form-control"
              id="example-text-input"
              type="text"
              min="0"
              value=""
              placeholder="Num Téléphone propriètaire"
              (focus)="focus10 = true"
              (blur)="focus10 = false"
            />
          </div>
          <small class="text-muted font-weight-light">
            Un Num tél valide doit contenir exactement 8 chiffres
          </small>
          <div
            *ngIf="submitted && f['phoneNumber'].errors?.['required']"
            class="error-text"
          >
            Champs incorrect, Num tél est obligatoire.
          </div>
          <div
            *ngIf="submitted && formGroup.errors?.['phoneNumberIncorrect']"
            class="error-text"
          >
            Champs incorrect, Num tél est incorrect il faut exactement 8
            chiffres.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-time-input"
        >
          RIB <span class="text-danger">*</span>
        </label>
        <div class="col-md-10">
          <div class="input-group input-group-merge">
            <input
              formControlName="rib"
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  (f['rib'].errors?.['required'] ||
                    formGroup.errors?.['ribIncorrect']),
                'is-valid':
                  submitted &&
                  !f['rib'].errors?.['required'] &&
                  !formGroup.errors?.['ribIncorrect'],
              }"
              class="form-control"
              placeholder="RIB Bancaire"
              type="text"
              min="0"
              (focus)="focus8 = true"
              (blur)="focus8 = false"
            />

            <div
              *ngIf="submitted && f['rib'].errors?.['required']"
              class="invalid-feedback"
            >
              Champs manquant, rib est obligatoire.
            </div>

            <div
              *ngIf="
                submitted &&
                !f['rib'].errors?.['required'] &&
                formGroup.errors?.['ribIncorrect']
              "
              class="invalid-feedback"
            >
              Champs incorrect, rib invalide, il faut exactement 20 chiffres.
            </div>
          </div>
          <small class="text-muted font-weight-light">
            Un RIB tunisien valide doit contenir exactement 20 chiffres
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label
          class="col-md-2 col-form-label form-control-label"
          for="example-text-input"
        >
          Banque <span class="text-danger">*</span>
        </label>

        <div class="col-md-10">
          <div class="input-group input-group-merge">
            <input
              formControlName="bank"
              [ngClass]="{
                'is-invalid': submitted && f['bank'].errors?.['required'],
                'is-valid': submitted && !f['bank'].errors?.['required'],
              }"
              class="form-control"
              id="example-text-input"
              type="text"
              value=""
              placeholder="Banque"
              (focus)="focus11 = true"
              (blur)="focus11 = false"
            />
          </div>

          <div
            *ngIf="submitted && f['bank'].errors?.['required']"
            class="error-text"
          >
            Champs manquant, banque est obligatoire.
          </div>
        </div>
      </div>
      <hr />

      <div class="mt-5 d-flex w-100 flex-row justify-content-end">
        <button *ngIf="!isLoading" class="btn btn-primary" type="submit">
          Confirmer
        </button>
        <div
          *ngIf="isLoading"
          class="spinner-border text-primary mr-5"
          role="status"
        ></div>
      </div>
    </form>
  </div>
</div>
