<div class="card">
  <div class="card-header border-0">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-0">Liste des biens ({{ totalLength }})</h3>
      </div>
    </div>
  </div>

  <div class="px-4 pt-2 pb-4">
    <div class="row justify-content-end px-3 pb-4">
      <a
        class="btn btn-sm btn-primary btn-round btn-icon"
        href="javascript:void(0)"
        routerLink="../create-property"
      >
        <span class="btn-inner--icon">
          <i class="ni ni-fat-add"> </i>
        </span>
        <span class="btn-inner--text"> Ajouter un bien </span>
      </a>
    </div>

    <form [formGroup]="filtersFormGroup" (ngSubmit)="filterProperties()">
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <input
              class="form-control"
              id="example2cols1Input"
              formControlName="searchTerm"
              placeholder="Chercher par adresse"
            />
          </div>
        </div>

        <div class="col-md-5">
          <div
            class="form-group"
            [ngClass]="{
              focused: focus1 === true,
            }"
          >
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text text-sm"> Prop- </span>
              </div>
              <input
                class="form-control"
                [ngClass]="{
                  focused: focus1 === true,
                }"
                type="number"
                min="1"
                formControlName="matricule"
                placeholder="Chercher par num dossier"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <app-search-input
              [clearInput]="false"
              [prefixIcon]="'fas fa-search'"
              [searchPlaceholder]="'Filtrer par propriétaire'"
              [searchLabel]="'Résultats'"
              [maxSize]="5"
              [triggerSearchOnOpen]="true"
              (searchValue)="onSearchOwnerValueChanged($event)"
              [searchInputValue]="searchOwnerValue"
              (selectedResultItem)="onSelectedOwnerSearchItem($event)"
              [searchResult]="ownerOptions"
            ></app-search-input>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <app-search-input
              [clearInput]="false"
              [prefixIcon]="'fas fa-search'"
              [searchPlaceholder]="'Filtrer par type'"
              [searchLabel]="'Résultats'"
              [prefixText]="'Type:'"
              [maxSize]="4"
              [searchInputValue]="propertyTypeSearchValue.title"
              (selectedResultItem)="onSelectedPropertyTypeSearchItem($event)"
              [searchResult]="propertiesType"
            ></app-search-input>
          </div>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-secondary" type="submit">Filtrer</button>
      </div>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table align-items-center table-flush table-hover">
      <thead class="thead-light">
        <tr>
          <th>Numéro dossier</th>
          <th>Propriètaire</th>

          <th>Adresse</th>
          <th>Type</th>

          <th>Nb locaux</th>
          <th>Ajouté le</th>

          <th></th>
        </tr>
      </thead>
      <div
        *ngIf="isLoadingFetchingProperties"
        class="spinner-border text-primary mt-4 ml-4"
        role="status"
      ></div>
      <div
        *ngIf="properties.length === 0 && !isLoadingFetchingProperties"
        class=""
      >
        <p class="ml-4 mb-0">Liste vide, aucun element trouvé.</p>
      </div>

      <tbody>
        <tr *ngFor="let property of properties">
          <td
            style="cursor: pointer"
            (click)="redirectToDetails(property.id)"
            class="table-user"
          >
            <span> {{ property.idNumber }} </span>
          </td>
          <td
            style="cursor: pointer"
            (click)="redirectToDetails(property.id)"
            class="table-user"
          >
            <span> {{ property.owner }} </span>
          </td>

          <td
            style="cursor: pointer"
            (click)="redirectToDetails(property.id)"
            class="table-user"
          >
            <span> {{ property.address }} </span>
          </td>

          <td
            style="cursor: pointer"
            (click)="redirectToDetails(property.id)"
            class="table-user"
          >
            <span> {{ property.type }} </span>
          </td>

          <td style="cursor: pointer" (click)="redirectToDetails(property.id)">
            <div class="col-auto">
              {{ property.nbApartments }}
            </div>
          </td>
          <td style="cursor: pointer" (click)="redirectToDetails(property.id)">
            <div class="col-auto">
              {{ property.createdAt | date }}
            </div>
          </td>
          <td class="table-actions">
            <!-- <a
              class="table-action"
              routerLink="../create-property"
              href="javascript:void(0)"
              tooltip="Edit product"
              placement="top"
            >
              <i class="fas fa-user-edit"> </i>
            </a> -->

            <a
              (click)="deleteProperty(property.id, property.address)"
              class="table-action table-action-delete"
              tooltip="Delete product"
              placement="top"
              href="javascript:void(0)"
            >
              <i class="fas fa-trash"> </i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer py-4">
    <nav aria-label="...">
      <pagination
        [totalItems]="totalLength"
        [itemsPerPage]="pageSize"
        [rotate]="false"
        [boundaryLinks]="true"
        [(ngModel)]="page"
        firstText="&laquo;"
        lastText="&raquo;"
        [maxSize]="5"
        class="justify-content-end mb-0"
        [customPreviousTemplate]="prevTemplate"
        (pageChanged)="pageChange($event)"
        [customNextTemplate]="nextTemplate"
      >
      </pagination>

      <ng-template #nextTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-right"></i>
        </ng-container>
      </ng-template>

      <ng-template #prevTemplate let-currentPage="currentPage">
        <ng-container>
          <i class="fas fa-angle-left"></i>
        </ng-container>
      </ng-template>
    </nav>
  </div>
</div>
