<div class="modal-header">
  <div class="d-flex flex-column w-100 justify-content-start">
    <h3 class="mb-0">Course en temps réel sur la carte</h3>
    <!-- <div class="mt-4 ">
            <h5 class=" h3">
                Chauffeur se diriger vers:<span class=" font-weight-light"> La marsa, tunis </span>
            </h5>
            <h5 class=" h3">
                Destination de :<span class=" font-weight-light"> Foulen ben felten </span>
            </h5>
        </div> -->
  </div>
</div>

<div style="padding: 0px !important" class="modal-body">
  <google-map height="640px" width="100%">
    <map-marker
      *ngFor="let marker of busStopsMarkers"
      [position]="marker.getPosition()!"
    >
    </map-marker>

    <!-- <map-marker *ngFor="let marker of markers" [position]="marker.position" [options]="marker.markerOption"
            (mapClick)="openInfoWindow(marker, 'point.title', 'point.info')">
        </map-marker> -->

    <map-polyline [options]="polylineOptions"> </map-polyline>
  </google-map>
</div>

<div class="modal-footer d-flex justify-content-between">
  <div class="d-flex flex-column gap-0 justify-content-start">
    <h5 class="pt-2">
      Nombre de passager:
      <span class="font-weight-light">
        {{ mapDetails?.passengerNumber ?? 0 }}
      </span>
    </h5>
    <h5 class="">
      Arrivée estimé à :
      <span class="font-weight-light"> {{ mapDetails?.eta ?? "" }} PM</span>
    </h5>
  </div>

  <div class="">
    <button
      class="btn btn-secondary"
      (click)="onCancel()"
      data-calendar="delete"
    >
      Annuler
    </button>
  </div>
</div>
